.Button {
  background: var(--primary-green);
  color: white;
  font-size: 1.6rem;
  height: 40px;
  width: 100%;
  max-width: 400px;
  border: 1px solid;
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 100px;
  cursor: pointer;
}

.Button:hover {
  height: 42px;
  width: 101%;
  transition: 0.3s;
}
